:global {
  body[data-theme='dark'] {
    --header-logo-color: var(--white);
  }

  body[data-theme='light'] {
    --header-logo-color: var(--primary-color);
  }
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 10px;
  &__text {
    font-size: 1.75rem;
    line-height: 1.5;
    font-weight: 700;
    color: var(--header-logo-color);
    letter-spacing: -1px;
    text-transform: uppercase;
  }
  &__icon{
    width: 40px;
    height: 40px;
  }
}